h2 {
    text-align: center;
    padding: 25px;
}

div.product {
    text-align: center;
    border: 1px black solid;
    height: 425px;
    max-width: 500px;
    padding: 15px;
    margin: 23px;
}

mat-grid-tile :hover {
    background-color: grey;
}

img.thumbnail {
    max-width: 350px;
    height: 200px;
}

div.productDescription {
    padding: 15px;
}