<div class="container">
    <h2>Liste des produits</h2>


    <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile *ngFor="let p of productService.getProducts()|async" (click)="openDialog(p)">
            <div class="container" class="product">
                <div>
                    <img class="thumbnail" [src]="p.thumbnail" />
                </div>
                <div class="productDescription">
                    {{p.title}}<br> {{p.price}} € <br>{{p.stock}} en stock <br> {{p.description}}
                </div>
            </div>

        </mat-grid-tile>
    </mat-grid-list>
</div>