<div class="container">
    <h2>Liste des produits</h2>


    <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile *ngFor="let p of productService.getProducts()|async" (click)="openDialog()">
            <div class="container" id="product">
                <div id="thumbnails">
                    <img [src]="p.images[0]" />
                </div>
                <div id="productDescription">
                    {{p.title}} <br> {{p.stock}} en stock <br> {{p.description}} <br> {{p.price}} €
                </div>
            </div>

        </mat-grid-tile>
    </mat-grid-list>
</div>